@{ 
    ViewBag.Title = "Employee Search";
}
<link href="~/Content/CSS/Employee.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" id="idEmployee" placeholder="Id Employee">
                </div>
            </div>
            <button type="button" class="btn btn-primary" id="searchEmployee">Search</button>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Contract Type
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        Anual Salary
                    </th>
                </tr>
            </thead>
            <tbody id="tbodyEmployees">
                <tr>
                    <td colspan="5" class="text-center"> No Records</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <div class="withOutModal" } id="modalLoader">
        <div class="centered">
            <h1 class="text-center">Awaiting results from server...</h1>
            <div class="loader">Loading...</div>
        </div>
    </div>
</div>

<script src="~/Scripts/JS/Employee.js"></script>